[submodule "svg"]
	path = svg
	url = git@github.com:Bnyro/SVGRandomizer.git
[submodule "start"]
	path = start
	url = https://github.com/bnyro/startpage
[submodule "search"]
	path = search
	url = https://github.com/Bnyro/search.git
