:root {
  --background: #191724;
  --container: #1f1d2e;
  --overlay: #191828;
  --text: #FFB1BE;
}

html {
  padding: 0;
  margin: 0;
  font-family: Arial;
  background-color: var(--background);
  color: var(--text);
}

body {
  margin: 3vh 3vw;
}

main,
footer {
  min-width: 60vw;
  max-width: 1000px;
  margin: auto;
}

#headline {
  margin-left: 1rem;
}

#headline span {
  font-size: 2.1rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

section {
  display: flex;
  flex-direction: column;
  background-color: var(--container);
  margin: 1.5em auto;
  border-radius: 2rem;
}

section h2 {
  border-left: 0.15em solid;
  padding-left: 0.5em;
  cursor: pointer;
  font-weight: 400;
  margin: 1rem 2rem;
  user-select: none;
}

#about p {
  margin: 0rem 2rem;
  line-height: 1.6;
  font-style: italic;
  margin-bottom: 1em;
}

#languages {
  display: flex;
  margin-bottom: 1rem;
}

#languages div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  cursor: pointer;
}

#languages div:hover {
  transform: scale(1.15);
}

#languages div img {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 1rem;
  margin-bottom: 0.5rem;
}

#projects {
  margin-bottom: 0.5em;
}

#projects div {
  background-color: var(--overlay);
  display: inline-block;
  padding: 0 1.5rem;
  margin: 1rem 1.8rem;
  margin-top: 0;
  border-radius: 1rem;
}

#projects div a {
  display: inline-block;
  margin-top: 0.7em;
  font-size: 1.2rem;
  text-decoration: none;
  box-shadow: 0 2px;
  color: var(--text);
}

#projects div p {
  margin: 0.7rem 0;
  line-height: 1.4;
}

#social {
  display: flex;
  margin-bottom: 1rem;
}

#social a {
  margin: 1rem auto;
  text-decoration: none;
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

#social a img {
  width: 2rem;
  height: 2rem;
  margin-right: 1.2em;
}


#social a:hover {
  transform: scale(1.15);
}

footer {
  text-align: center;
}

footer p {
  font-weight: 300;
  line-height: 1.5;
}

footer p a {
  color: var(--text);
}

@media screen and  (max-width: 1000px) {
  #social, #languages {
    flex-direction: column;
  }
  #languages div {
    flex-direction: row;
    justify-content: center;
  }
}
