:root {
  /** colors **/
  --base: #191724;
  --highlight-high: rgba(110, 106, 134, 0.2);
  --highlight-low: rgba(110, 106, 134, 0.1);
  --surface: #1f1d2e;
  --text: #e0def4;
  --accent: #908caa;

  /** sizes **/
  --max-width: 72rem;
  --padding-x: 2rem;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--base);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--accent);
}

/** header **/
header {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem var(--padding-x);
  display: flex;
  justify-content: space-between;
  scroll-snap-align: center;
}

#brand {
  font-weight: 700;
  color: var(--text);
}

nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

label.hamburg {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

label.hamburg .line {
  background-color: var(--text);
  height: 0.2rem;
  width: 2rem;
  margin: 0.16rem 0;
  margin-left: auto;
  border-radius: 0.5rem;
}

label.hamburg .line + .line {
  width: 1.5rem;
}

label.hamburg .line + .line + .line {
  width: 1rem;
}

input#hamburg {
  display: none;
}

.topmenu {
  height: auto;
  max-height: 37.5rem;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  list-style-type: none;
  margin: 0;
  text-align: end;
  display: flex;
}

.topmenu li {
  margin-left: 2.5rem;
}

#hamburg:checked + .hamburg + .topmenu {
  max-height: 37.5rem;
  margin-top: 1rem;
}

/** main **/
main {
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 90vh;
  padding: 5vh var(--padding-x);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

#about {
  flex-direction: row;
  justify-content: space-around;
}

#about div h1 {
  line-height: 0.8;
}

#about img {
  height: 7rem;
}

.grid h4 {
  margin-left: 3.5vw;
  align-self: flex-start;
}

.grid p {
  text-align: center;
}

.grid span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem;
}

.grid span div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
  flex: 1;
}

.grid span div:hover {
  cursor: pointer;
  scale: 1.1;
  filter: drop-shadow(0 0 1rem var(--accent));
}

.grid span div img {
  width: clamp(2em, 15vw, 5em);
}

.grid span .invert {
  filter: invert(0.9);
}

.grid span div p {
  text-align: center;
}

/** footer **/
footer {
  height: 7rem;
  background-color: var(--surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: center;
}

footer > span {
  padding: 0 var(--padding-x);
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

footer div {
  display: flex;
  justify-content: end;
}

footer div a {
  margin: 0 1rem;
}

footer div a img {
  height: 1.5rem;
  width: 1.5rem;
  filter: invert();
}

@media (max-width: 700px) {
  html {
    scroll-snap-type: none;
  }

  #brand {
    margin-top: 0.3rem;
  }

  label.hamburg {
    display: flex;
  }

  .topmenu {
    max-height: 0;
    flex-direction: column;
  }

  .topmenu li {
    margin: 0.2em 0;
  }

  #projects span {
    grid-template-columns: auto;
  }
}
