:root {
  /** colors **/
  --base: #191724;
  --highlight-high: rgba(110, 106, 134, 0.2);
  --highlight-low: rgba(110, 106, 134, 0.1);
  --surface: #1f1d2e;
  --text: #e0def4;
  --accent: #908caa;

  /** sizes **/
  --max-width: 72em;
  --padding-x: 2em;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--base);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--accent);
}

/** header **/
header {
  scroll-snap-align: start;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2em var(--padding-x);
  display: flex;
  justify-content: space-between;
}

#brand {
  margin-top: 0.3em;
  font-weight: 700;
  color: var(--text);
}

nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

label.hamburg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

label.hamburg .line {
  background-color: var(--text);
  height: 0.2em;
  width: 2em;
  margin: 0.16em 0;
  margin-left: auto;
  border-radius: 0.5em;
}

label.hamburg .line + .line {
  width: 1.5em;
}

label.hamburg .line + .line + .line {
  width: 1em;
}

input#hamburg {
  display: none;
}

.topmenu {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  list-style-type: none;
  margin: 0;
  text-align: end;
}

#hamburg:checked + .hamburg + .topmenu {
  max-height: 600px;
  margin-top: 1em;
}

/** main **/
main {
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 80vh;
  padding: 0 var(--padding-x);
  display: flex;
  align-items: center;
}

#about {
  justify-content: space-around;
}

#about div h1 {
  line-height: 0.8;
}

#about img {
  height: 7em;
}

#projects {
  scroll-snap-align: center;
}

/** footer **/
footer {
  height: 7em;
  background-color: var(--surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: end;
}

footer > span {
  padding: 0 var(--padding-x);
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

footer div {
  display: flex;
  justify-content: end;
}

footer div a {
  margin: 0 1em;
}

footer div a img {
  height: 1.5em;
  width: 1.5em;
  filter: invert();
}

@media (min-width: 700px) {
  #brand {
    margin-top: 0;
  }

  label.hamburg {
    display: none;
  }

  .topmenu {
    max-height: 600px;
    display: flex;
  }

  .topmenu li {
    margin-left: 2.5em;
  }
}
